<div class="mt-5">
    <div class="card-header p-3 text-center">Users</div>
    <div class="card-body">
        <form [formGroup]="formulario">
            <div class="form-group mb-2">
                <label for="name">Nombre</label>
                <input id="name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group mb-2">
                <label for="name">Correo Electronico</label>
                <input id="name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group mb-2">
                <label for="name">Telefono</label>
                <input id="name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group mb-2">
                <label for="name">Direccion</label>
                <input id="name" type="text" class="form-control" formControlName="name">
            </div>
        </form>
    </div>
</div>